<web-app version="2.4"
 xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" >
	<servlet>
		<servlet-name>FrontController</servlet-name>
		<servlet-class>ir.ac.ut.ieproj.controller.FrontController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/stud/*</url-pattern>
	</servlet-mapping>	
	
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/prof/*</url-pattern>
	</servlet-mapping>	
	
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/logOut</url-pattern>
	</servlet-mapping>	
	<welcome-file-list>
		<welcome-file>FrontController</welcome-file>
	</welcome-file-list>
	
	<context-param>
    	<param-name>user</param-name>
    	<param-value>root</param-value>
	</context-param>
	
	<context-param>
    	<param-name>password</param-name>
    	<param-value>123</param-value>
	</context-param>


	<!-- Security Constraints -->
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>prof</web-resource-name>
			<url-pattern>/prof/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>prof</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>student</web-resource-name>
				<url-pattern>/stud/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>stu</role-name>
		</auth-constraint>
	</security-constraint>
		<security-constraint>
		<web-resource-collection>
			<web-resource-name>all</web-resource-name>
				<url-pattern>/</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>stu</role-name>
			<role-name>prof</role-name>
		</auth-constraint>
	</security-constraint>
	<!-- Login config -->
	
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/WEB-INF/Login.jsp</form-login-page>
			<form-error-page>/stud/</form-error-page>
		</form-login-config>
	</login-config>
	
	<!-- Security Roles -->
	
	<security-role>
		<role-name>stu</role-name>
	</security-role>
	<security-role>
		<role-name>prof</role-name>
	</security-role>
</web-app>