<web-app version="2.4"
 xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" >
	<servlet>
		<servlet-name>FrontController</servlet-name>
		<servlet-class>ir.ac.ut.ieproj.controller.FrontController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>*</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>		
		<welcome-file>Login.jsp</welcome-file>
	</welcome-file-list>
	
	<context-param>
    	<param-name>user</param-name>
    	<param-value>root</param-value>
	</context-param>
	
	<context-param>
    	<param-name>password</param-name>
    	<param-value>123</param-value>
	</context-param>
		<error-page>
		<error-code>403</error-code>
		<location>/access-err.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/notfound.jsp</location>
	</error-page>

	<!-- Security Constraints -->

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>prof</web-resource-name>
			<url-pattern>/ProfessorMain.jsp</url-pattern>
			<url-pattern>/Login.jsp</url-pattern>
			<url-pattern>/SubmitGrade.jsp</url-pattern>
			<url-pattern>/SubmitGradeList.jsp</url-pattern>
			<url-pattern>/WithdrawResponse.jsp</url-pattern>
			<url-pattern>/WithdrawResponseList.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>prof</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>student</web-resource-name>
			<url-pattern>/StudentLogin.jsp</url-pattern>
			<url-pattern>/CourseSelect.jsp</url-pattern>
			<url-pattern>/StudentMain.jsp</url-pattern>
			<url-pattern>/Withdraw.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>stu</role-name>
		</auth-constraint>
	</security-constraint>
	
	<!-- Login config -->
	
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/Login.jsp</form-login-page>
			<form-error-page>/login-error.jsp</form-error-page>
		</form-login-config>
	</login-config>
	
	<!-- Security Roles -->
	
	<security-role>
		<role-name>stu</role-name>
	</security-role>
	<security-role>
		<role-name>prof</role-name>
	</security-role>
</web-app>